<p>Rows not displayed: {{left}}</p>
<p>Values not displayed: {{all_count}}</p>
<table id="distributions">
  <thead> 
    <tr>
      <th>Value</th>
      <th>Count</th>
      <th>Avg Age</th>
    <tr>
  </thead>
  <tbody>
  {{#distributions}}
  <tr>
    <td>{{value}}</td>
    <td>{{count}}</td>
    <td>{{avg}}</td>
  </tr>
  {{/distributions}}
  </tbody>
</table>
